:root{
  --font-family: 'Heebo', Sans-serif ;
  --primary-color: #fff;
  --secondary-color: #EDF7FA;
  --btn-color: #FF6464;
  --btn-color-hover: #e36464;
  --fonts-color: #21243D;
  --dark-color: #142850;
  --light-color: #D9D9D9;
  --line-color:#E0E0E0;
}